@page
@model TransactionReader.Pages.FileUploadModel
@{
    ViewData["Title"] = "File Upload";
}

<div class="text-center">
    <h1 class="display-4">Upload Transactions</h1>
    <p>The following form's page handler uploads the file and import new Transaction records to database.</p>
    <br/>
</div>

<form enctype="multipart/form-data" method="post">
    <dl>
        <dd>
            <input asp-for="FormFileUpload" type="file" />
            <span asp-validation-for="FormFileUpload"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload" />
</form>

<p class="result">
    @Model.Result
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
